#app-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#todo-app {
    background-color: #0A122A;
    width: 33%;
    height: 300px;
}

.header-text {
    text-align: center;
    text-transform: uppercase;
    color: #FBFAF8;
}

.input-controls {
    text-align: center;
}

.todo-list {
    margin-top: 10px;
    text-align: left;
    background-color: #E7DECD;
    height: 200px;
    overflow: scroll;
}

.todo-list p.item {
    padding: 5px;
    padding-left: 20px;
    background-color: #804E49;
    color: #E7DECD;
}